:root {
    --lav: lavender;
    --shadow: #a4baae;
    --light:#ccf0dd;
}

/* Universal selectors */
* {
    padding: 1px;
    margin: 1px;
}

/* Element selectors */
html {
    background-color: var(--lav);
    margin-top: 0px;
    padding-top: 0px;
}

main {
    flex-grow: 1;
    justify-content:space-between;
    align-items:stretch;
    width:100%;
    background: var(--light);
}

header {
    background: radial-gradient(at top left,var(--lav),pink);
    top:0;
    width:100%;
    border: 2px solid var(--lav);
    border-radius: 3%;
}

header h1 {
    text-align: center;
    padding-top: 20px;
    font-family:"georgia","Times New Roman", serif;
    margin-top: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(181,60,157,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 2s;
}

header h1::selection {
    background-color: var(--light);
    color: var(--lav);
  }

header h1:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,181,122,0.8926164215686274) 0%, rgba(203,0,255,0.8393951330532212) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:36px;
}

h1, h2,
h3 {
    font-family:"Montserrat","Helectiva",sans-serif;
    padding: 5px;
}

h2 {
    border-bottom: 5px dashed var(--lav);
    transition-property: color, background-color, padding, text-shadow;
    transition-duration: 0.5s;
    border: 3px solid white;
    border-radius:5%;
    padding: 2px 5px;
    width:fit-content;
    margin: 10px;
}

/* Transition upon hovering */
h2:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(215,22,213,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 10px;
    /* ADD HOLOGRAPHIC FEATURE HERE */
}

h3 {
    text-align:center;
    transition-property: color, background-color, padding;
    transition-duration: 2s;
    border-radius: 3%;
}

h3:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10%;
}

nav li {
    list-style-type:none;
    display: inline;
}

body {
    background-color:linear-gradient(var(--light),var(--lavender));
}

article {
    background-color: var(--light);
    
}

article h2 {
    background-color: var(--light);
    position:relative;
    border: 3px solid white;
    border-radius:5%;
    padding: 2px 5px;
    width:fit-content;
}

p::selection {
    background-color: var(--shadow);
  }


main img {
    max-width: 95%;
    height: auto;
}

main img:hover {
    opacity: .5;
}

footer {
    text-align: center;
    background: var(--lav);
    padding: 20px;
}



/* Class selectors */
.nav-menu {
    float: right;
    color: white;
    background-color: var(--lav);
    padding: 10px;
    border-radius: 10%;
    margin: -30px 5px 10px 5px;
    transition-property: padding, font-size;
    transition-duration: 1s;
    font-size: 16px;
}

/* Nav link transition */
.nav-menu:hover {
    padding: 10px;
    color: rgb(33, 33, 33);
    font-size: 20px;
}

.about-together {
    width: 100%;
    background:radial-gradient(var(--light),var(--lav),pink);
    border-radius: 3%;
    border: 2px solid var(--lav);
    padding:5px;
    line-height:1.5fr;
    min-height: 269px;
    font-size: 18px;
}

.checkout {
    color:rgb(16, 15, 15);
    font-family:"georgia","Times New Roman", serif;
    text-align: center;
    background-color: var(--light);
    font-size: 22px;
    padding: 5px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    background-color:var(--lav);
}

.work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between3;
    border-top: 10px solid varvar(--lav);
    background-color:var(--light);
}

/* THIS IS WHERE WE ADD STYLE!!! */
.flexbox {
    width: 48%;
    flex-wrap: wrap;
    flex: 2 0 auto;
    justify-content: space-evenly;
    margin: 5px;
    border: 5px solid var(--lav);
    border-radius: 3%;
    overflow: scroll;
    transition-duration: 1s;
    border-radius: 3%;
}

/* Card transition upon hovering */
.flexbox:hover {
    transform: scale(1.05);
}

.resume {
    margin-left: 20px;
}

/* ID selectors */
#profile-image {
    height: 267px;
    width: 216px;
    float:left;
    margin-right: 10px;
    transition-duration: 2s;
    border-radius: 5%;
}


#profile-image:hover {
    transform: scale(1.1);
}

/* Media Queries */

/* Media Queries for Tablet */
@media screen and (max-width:768px) {
    .flexbox {
       display: grid;
       width: 100%;
       grid-template-columns: repeat(2,1fr);
       grid-row-gap: 30px;
     }
   }
 
 /* Media Queries for Mobile */
 @media screen and (max-width:576px) {
    .flexbox {
       display: grid;
       width: 100%;
       grid-template-columns: repeat(1,1fr);
       grid-row-gap: 30px;
     }
 }