:root {
    --mint: lavender;
    --shadow: #70867A;
    --light:#F7FBF9;
}

/* Universal selectors */
* {
    padding: 3px;
    margin: 3px;
}

/* Element selectors */
main {
    display:flex;
    flex:wrap;
    align-items:stretch;
    width:100%;
    flex-direction: column;
}

header {
    position: relative;
    background-color: var(--mint);
}

header h1 {
    text-align: center;
    color:white;
    text-shadow: 1px 1px var(--shadow);
    padding-top: 15px;
}

h1,
h2,
h3 {
    font-family:"Montserrat","Helectiva",sans-serif;
}

h2 {
    border-bottom: 5px dashed lavender;
}

nav li {
    list-style-type:none;
    display: inline;
}

a {
    float: right;
    background-color: white;
    padding: 5px;
    border-radius: 10%;
    border: 3px black;
}

footer {
    text-align: center;
    background: lavender;
    padding: 20px;
}

article h2 {
    background-color: var(--light);
}

/* Class selectors */

.about-together {
    width: 100%;
}

.projects {
    flex: wrap;
    padding-top: 10px;
    border-top: 10px solid lavender;
    width: 100%;
    background-color:var(--light);
}

.work {
    width: 100%;
    flex:wrap;
    border-top: 10px solid lavender;
    background-color:var(--light);
}

.about {
    padding:5px;
    line-height:1.5fr;
}

.flexbox {
    margin: 10px;
    padding: 10px lavender;
    border: 2px solid black;
}


/* ID selectors */
#profile-image {
    height: 267px;
    width: 216px;
    float:left;
    margin-right: 10px;
}

#gf-image {
    height: 500px;
    width: 676px;
}

#gf-image:hover {
    box-shadow: 10px 10px grey;
}