:root {
    --lav: lavender;
    --shadow: #70867A;
    --light:#F7FBF9;
}

/* Universal selectors */
* {
    padding: 2px;
    margin: 3px;
}

/* Element selectors */
main {
    flex-grow: 1;
    justify-content:space-between;
    align-items:stretch;
    width:100%;
}

header {
    background: radial-gradient(at top left,var(--lav),pink);
    top:0;
    width:100%;
    margin-top: 0px;
}

header h1 {
    text-align: center;
    color:white;
    text-shadow: 1px 1px #E5B6E7;
    padding-top: 20px;
    font-family:"georgia","Times New Roman", serif;
}

header h1::selection {
    background-color: var(--shadow);
  }

h1, h2,
h3 {
    font-family:"Montserrat","Helectiva",sans-serif;
}

h2 {
    border-bottom: 5px dashed var(--lav);
    transition-property: color, background-color, padding, text-shadow;
    transition-duration: 0.5s;
    border: 3px solid white;
    border-radius:5%;
    padding: 2px 5px;
    width:fit-content;
    margin: 10px;
}

/* Transition upon hovering */
h2:hover {
    color: white;
    background: var(--lav);
    padding: 5px 10px;
    text-shadow: 1px 1px var(--shadow);
}

h3 {
    text-align:center;
    transition-property: color, background-color, padding;
    transition-duration: 2s;
    border-radius: 3%;
}

h3:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10%;
}

h4 {
    color:white;
    font-family:"georgia","Times New Roman", serif;
    text-shadow: 1px 1px #E5B6E7;
}

nav li {
    list-style-type:none;
    display: inline;
}

article {
    background-color: var(--lav);
}

article h2 {
    background-color: var(--light);
    position:relative;
    border: 3px solid white;
    border-radius:5%;
    padding: 2px 5px;
    width:fit-content;
}

p::selection {
    background-color: var(--shadow);
  }

main img {
    max-width: 95%;
    height: auto;
    transition-duration: 1s;
    border-radius: 3%;
}

/* Image transition */
main img:hover {
    opacity: .5;
    transform: scale(1.05);
}

footer {
    text-align: center;
    background: var(--lav);
    padding: 20px;
}



/* Class selectors */
.nav-menu {
    float: right;
    color: white;
    background-color: var(--lav);
    padding: 7px 10px;
    border-radius: 10%;
    margin: -30px 5px 10px 5px;
    transition-property: padding;
    transition-duration: 1s;
}

/* Nav link transition */
.nav-menu:hover {
    padding: 10px;
    color: black;
}
.about {
    padding:5px;
    line-height:1.5fr;
}

.about-together {
    width: 100%;
    background:radial-gradient(var(--light),var(--lav),pink);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    background-color:var(--light);
}

.work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 10px solid varvar(--lav);
    background-color:var(--light);
}

/* THIS IS WHERE WE ADD STYLE!!! */
.flexbox {
    width: 48%;
    flex-wrap: wrap;
    flex: 2 0 auto;
    justify-content: space-evenly;
    margin: 5px;
    border: 5px solid var(--lav);
    border-radius: 3%;
    overflow: scroll;
}

.resume {
    margin-left: 20px;
}

/* ID selectors */
#profile-image {
    height: 267px;
    width: 216px;
    float:left;
    margin-right: 10px;
    transition-duration: 2s;
    border-radius: 5%;
}


#profile-image:hover {
    transform: scale(1.1);
}

/* Media Queries */

/* Media Queries for Tablet */
@media screen and (max-width:768px) {
    .flexbox {
       display: grid;
       width: 100%;
       grid-template-columns: repeat(2,1fr);
       grid-row-gap: 30px;
     }
   }
 
 /* Media Queries for Mobile */
 @media screen and (max-width:576px) {
    .flexbox {
       display: grid;
       width: 100%;
       grid-template-columns: repeat(1,1fr);
       grid-row-gap: 30px;
     }
 }